**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/dist
**/.turbo
**/coverage
**/.changeset
**/docs
**/*.md
**/tests
**/test
**/*.test.ts
**/*.spec.ts
.vscode
.github
turbo/generators
